In [11]:
#!pip install pandas
#!pip install zipfile
#!pip install kaggle
#!pip install openpyxl

# pandas library 
import pandas as pd

# import zipfile library for extracting data from kaggle
import zipfile

# import kaggle library for extracting data from kaggle
import kaggle

# import numpy for getting column statistics
import numpy as np

# for cleaning our data
import datetime

from datetime import datetime

import re

In [2]:
# downloading dataset from Kaggle

!kaggle datasets download -d asaniczka/tmdb-movies-dataset-2023-930k-movies

Dataset URL: https://www.kaggle.com/datasets/asaniczka/tmdb-movies-dataset-2023-930k-movies

  0%|          | 0.00/195M [00:00<?, ?B/s]
  2%|▏         | 3.00M/195M [00:00<00:07, 26.7MB/s]
  4%|▎         | 7.00M/195M [00:00<00:06, 32.9MB/s]
  6%|▌         | 12.0M/195M [00:00<00:06, 27.7MB/s]
  9%|▉         | 18.0M/195M [00:00<00:06, 27.6MB/s]
 13%|█▎        | 25.0M/195M [00:01<00:07, 23.4MB/s]
 17%|█▋        | 33.0M/195M [00:01<00:06, 25.1MB/s]
 21%|██        | 41.0M/195M [00:01<00:05, 27.5MB/s]
 25%|██▌       | 49.0M/195M [00:01<00:05, 26.3MB/s]
 29%|██▉       | 57.0M/195M [00:02<00:06, 23.2MB/s]
 32%|███▏      | 63.0M/195M [00:02<00:05, 27.3MB/s]
 34%|███▍      | 67.0M/195M [00:02<00:05, 26.7MB/s]
 37%|███▋      | 73.0M/195M [00:02<00:04, 26.4MB/s]
 41%|████▏     | 81.0M/195M [00:03<00:03, 30.6MB/s]
 46%|████▌     | 89.0M/195M [00:03<00:03, 30.1MB/s]
 50%|████▉     | 97.0M/195M [00:03<00:03, 31.0MB/s]
 53%|█████▎    | 104M/195M [00:03<00:02, 36.6MB/s]
 56%|█████▌    | 109M/195M [00:03<00:02, 34.2MB/s]
 58%|█████▊    | 113M/195M [00:04<00:02, 29.3MB/s]
 62%|██████▏   | 121M/195M [00:04<00:02, 34.5MB/s]
 66%|██████▌   | 129M/195M [00:04<00:02, 30.7MB/s]
 70%|███████   | 137M/195M [00:04<00:01, 33.7MB/s]
 74%|███████▍  | 145M/195M [00:05<00:01, 33.3MB/s]
 78%|███████▊  | 152M/195M [00:05<00:01, 39.1MB/s]
 80%|████████  | 157M/195M [00:05<00:01, 37.5MB/s]
 82%|████████▏ | 161M/195M [00:05<00:01, 30.3MB/s]
 86%|████████▋ | 169M/195M [00:05<00:00, 29.0MB/s]
 91%|█████████ | 177M/195M [00:06<00:00, 34.5MB/s]
 95%|█████████▍| 185M/195M [00:06<00:00, 39.5MB/s]
 99%|█████████▉| 194M/195M [00:06<00:00, 49.3MB/s]
100%|██████████| 195M/195M [00:06<00:00, 32.1MB/s]

License(s): ODC Attribution License (ODC-By)
Downloading tmdb-movies-dataset-2023-930k-movies.zip to c:\Users\holyl\Desktop\movie-sales-performance

In [3]:
# extract the csv from downloaded zipfile

movies_zipfile = 'tmdb-movies-dataset-2023-930k-movies.zip'
with zipfile.ZipFile(movies_zipfile,'r') as file:
    file.extractall()

In [4]:
# read in extracted csv into pandas dataframe

movie_database = pd.read_csv("TMDB_movie_dataset_v11.csv")

In [26]:
# check shape of the data

movie_database.shape

(85349, 24)

In [6]:
# get the info for the movie database

movie_database.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1068955 entries, 0 to 1068954
Data columns (total 24 columns):
 #   Column                Non-Null Count    Dtype
---  ------                --------------    -----
 0   id                    1068955 non-null  int64
 1   title                 1068943 non-null  object
 2   vote_average          1068955 non-null  float64
 3   vote_count            1068955 non-null  int64
 4   status                1068955 non-null  object
 5   release_date          920121 non-null   object
 6   revenue               1068955 non-null  int64
 7   runtime               1068955 non-null  int64
 8   adult                 1068955 non-null  bool
 9   backdrop_path         292334 non-null   object
 10  budget                1068955 non-null  int64
 11  homepage              115187 non-null   object
 12  imdb_id               588416 non-null   object
 13  original_language     1068955 non-null  object
 14  original_title        1068943 non-null  object
 15  overview              867795 non-null   object
 16  popularity            1068955 non-null  float64
 17  poster_path           752926 non-null   object
 18  tagline               152326 non-null   object
 19  genres                658422 non-null   object
 20  production_companies  495592 non-null   object
 21  production_countries  614959 non-null   object
 22  spoken_languages      630744 non-null   object
 23  keywords              299668 non-null   object
dtypes: bool(1), float64(2), int64(5), object(16)
memory usage: 188.6+ MB

In [27]:
movie_database.head(5)

,id,title,vote_average,vote_count,status,release_date,revenue,runtime,adult,backdrop_path,...,original_title,overview,popularity,poster_path,tagline,genres,production_companies,production_countries,spoken_languages,keywords
282,76600,Avatar: The Way of Water,7.654,9830,Released,2022-12-14,2320250281,192,False,/8rpDcsfLJypbO6vREc0547VKqEv.jpg,...,Avatar: The Way of Water,Set more than a decade after the events of the...,241.285,/t6HIqrRAclMCA60NsSmeqe9RmNV.jpg,Return to Pandora.,"Science Fiction, Adventure, Action","20th Century Studios, Lightstorm Entertainment",United States of America,English,"dying and death, loss of loved one, alien life..."
366,414906,The Batman,7.705,8584,Released,2022-03-01,770945583,177,False,/b0PlSFdDwbyK0cf5RxwDpaOJQvQ.jpg,...,The Batman,"In his second year of fighting crime, Batman u...",100.817,/74xTEgt7R36Fpooo50r9T25onhq.jpg,Unmask the truth.,"Crime, Mystery, Thriller","6th & Idaho, Dylan Clark Productions, DC Films...",United States of America,English,"police, psychopath, secret identity, crime fig..."
403,453395,Doctor Strange in the Multiverse of Madness,7.355,7991,Released,2022-05-04,955775804,126,False,/jhXwGdyj2f5ZxCYZBKfBNcGBbWx.jpg,...,Doctor Strange in the Multiverse of Madness,"Doctor Strange, with the help of mystical alli...",96.530,/9Gtg2DzBhmYamXBS1hKAhiwbBKS.jpg,Enter a new dimension of Strange.,"Fantasy, Action, Adventure","Marvel Studios, Kevin Feige Productions",United States of America,"Cantonese, English, Spanish","magic, superhero, based on comic, alternate re..."
444,361743,Top Gun: Maverick,8.260,7546,Released,2022-05-24,1488732821,131,False,/AaV1YIdWKnjAIAOe8UUKBFm327v.jpg,...,Top Gun: Maverick,After more than thirty years of service as one...,126.291,/62HCnUTziyWcpDaBO2i1DX17ljH.jpg,Feel the need... The need for speed.,"Action, Drama","Skydance, Don Simpson/Jerry Bruckheimer Films,...",United States of America,English,"fighter pilot, u.s. navy, sequel, nuclear weap..."
527,502356,The Super Mario Bros. Movie,7.775,6743,Released,2023-04-05,1355725263,93,False,/9n2tJBplPbgR2ca05hS5CKXwP2c.jpg,...,The Super Mario Bros. Movie,"While working underground to fix a water main,...",410.411,/qNBAXBIQlnOThrVvA6mA2B5ggV6.jpg,Not all heroes wear capes. Some wear overalls.,"Animation, Family, Adventure, Fantasy, Comedy","Universal Pictures, Illumination, Nintendo","Japan, United States of America",English,"gorilla, plumber, anthropomorphism, magic mush..."

In [15]:
# remove any null release_date by dropping missing values

movie_database.dropna(how="all", subset="release_date", inplace=True)

In [23]:
# convert the release date to datetime objects

movie_database['release_date'] = pd.to_datetime(movie_database['release_date'], format='%Y-%m-%d')

In [25]:
# filter the values between our time period

movie_database = movie_database.loc[(movie_database['release_date'] >= '2022-01-01') & (movie_database['release_date'] < '2024-01-01')]

In [28]:
# check for missing data
for col in movie_database.columns:
    missing_info = np.mean(movie_database[col].isnull())
    print(col,": ", round(missing_info*100,2),"%")

id :  0.0 %
title :  0.0 %
vote_average :  0.0 %
vote_count :  0.0 %
status :  0.0 %
release_date :  0.0 %
revenue :  0.0 %
runtime :  0.0 %
adult :  0.0 %
backdrop_path :  61.61 %
budget :  0.0 %
homepage :  83.54 %
imdb_id :  64.39 %
original_language :  0.0 %
original_title :  0.0 %
overview :  17.39 %
popularity :  0.0 %
poster_path :  17.44 %
tagline :  83.25 %
genres :  29.22 %
production_companies :  50.48 %
production_countries :  41.81 %
spoken_languages :  35.61 %
keywords :  72.84 %

In [29]:
# the rest of the missing data is fine
# writing dataframe into excel file for Tableau

movie_database.to_excel('movies.xlsx', sheet_name='Data')